.home {
    position: relative;
    background: #FFFFFF;
}

img {
    position: absolute;
    width: 180px;
    height: 143px;
    left: 580px;
    top: 78px;
}

.judul {
    position: absolute;
    width: 725px;
    height: 73px;
    left: 320px;
    top: 325px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    color: #159800;
}

.card-1 {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 200px;
    top: 449px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card-1 i {
    position: absolute;
    margin-left: 15px;
    margin-top: 28px;
    color: #159800;
}

.line-1 {
    width: 60px;
    margin-left: 60px;
    margin-right: 273px;
    margin-top: 46px;
    position: absolute;
    border: 1px solid #C7C7C7;
    transform: rotate(90deg);
}

.z-penghasilan {
    margin-left: 114px;
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #000000;
}

.card-2 {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 200px;
    top: 652px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card-2 i {
    position: absolute;
    margin-left: 15px;
    margin-top: 28px;
    color: #159800;
}

.line-2 {
    width: 60px;
    margin-left: 60px;
    margin-right: 273px;
    margin-top: 46px;
    position: absolute;
    border: 1px solid #C7C7C7;
    transform: rotate(90deg);
}

.z-perdagangan {
    margin-left: 110px;
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #000000;
}

.card-3 {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 200px;
    top: 855px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card-3 i {
    position: absolute;
    margin-left: 15px;
    margin-top: 28px;
    color: #159800;
}

.line-3 {
    width: 60px;
    margin-left: 60px;
    margin-right: 273px;
    margin-top: 46px;
    position: absolute;
    border: 1px solid #C7C7C7;
    transform: rotate(90deg);
}

.emas-perak {
    margin-left: 105px;
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #000000;
}

.card-4 {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 786px;
    top: 449px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card-4 i {
    position: absolute;
    margin-left: 15px;
    margin-top: 28px;
    color: #159800;
}

.line-4 {
    width: 60px;
    margin-left: 60px;
    margin-right: 273px;
    margin-top: 46px;
    position: absolute;
    border: 1px solid #C7C7C7;
    transform: rotate(90deg);
}

.z-fitrah {
    margin-left: 110px;
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #000000;
}

.card-5 {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 786px;
    top: 652px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card-5 i {
    position: absolute;
    margin-left: 15px;
    margin-top: 28px;
    color: #159800;
}

.line-5 {
    width: 60px;
    margin-left: 60px;
    margin-right: 273px;
    margin-top: 46px;
    position: absolute;
    border: 1px solid #C7C7C7;
    transform: rotate(90deg);
}

.z-tabungan {
    margin-left: 110px;
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #000000;
}

.card-6 {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 786px;
    top: 855px;

    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card-6 i {
    position: absolute;
    margin-left: 15px;
    margin-top: 28px;
    color: #159800;
}

.line-6 {
    width: 60px;
    margin-left: 60px;
    margin-right: 273px;
    margin-top: 46px;
    position: absolute;
    border: 1px solid #C7C7C7;
    transform: rotate(90deg);
}

.z-pertanian {
    margin-left: 110px;
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    color: #000000;
}

.footer {
    position: absolute;
    height: 25px;
    left: 596px;
    top: 1146px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.ellipse-1 {
    width: 200px;
    height: 160px;
    left: 22.34px;
    top: 1100px;
    border-radius: 100%;
    position: absolute;

    background: #AB6700;
}

.ellipse-2 {
    width: 200px;
    height: 134px;
    top: 1126.28px;
    left: -78px;
    border-radius: 0% 90% 0% 0%;
    position: absolute;

    background: #159800;
}

.ellipse-3 {
    width: 200px;
    height: 100px;
    left: 39.66px;
    top: 1160.32px;
    border-radius: 100% 100% 0% 0%;
    position: absolute;

    background: #FFA825;
}

.ellipse-4 {
    position: absolute;
    width: 180px;
    height: 120px;
    top: 1100px;
    left: 1171px;
    right: -0.1px;
    border-radius: 50%;

    background: #AB6700;
}

.ellipse-5 {
    position: absolute;
    width: 200px;
    height: 120px;
    top: 1140px;
    left: 1110px;
    border-radius: 90% 70% 0% 0%;

    background: #159800;

}

.ellipse-6 {
    position: absolute;
    width: 160px;
    height: 100px;
    left: 1191px;
    right: -0.1px;
    top: 1160.32px;
    border-radius: 90% 0% 0% 0%;

    background: #FFA825;
}

.modal-content {
    position: relative;
    width: 791px;
    height: 1000px;
    left: -125px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.m-perdagangan {
    position: relative;
    width: 791px;
    height: 1120px;
    left: -125px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.m-z-pertanian {
	position: relative;
    width: 791px;
    height: 700px;
    left: -125px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.m-z-emas {
    position: relative;
    width: 791px;
    height: 900px;
    left: -125px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.m-z-perak {
    position: relative;
    width: 791px;
    height: 900px;
    left: -125px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}
/* Zakat Penghasilan */
.lpenghasilan {
    position: absolute;
    width: 500px;
    height: 44px;
    left: 95px;
    top: 47px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.ipenghasilan {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 97px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lpengeluaran {
    position: absolute;
    width: 700px;
    height: 44px;
    left: 95px;
    top: 186px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.ipengeluaran {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 236px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.nishab {
    position: absolute;
    width: 350px;
    height: 44px;
    left: 95px;
    top: 320px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.inishab-peng {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 370px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lz-peng {
    position: absolute;
    width: 400px;
    height: 44px;
    left: 95px;
    top: 459px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}

.iz-peng {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 509px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lz-pb {
    position: absolute;
    width: 450px;
    height: 44px;
    left: 95px;
    top: 588px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}

.iz-pb {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 638px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lz-pt {
    position: absolute;
    width: 410px;
    height: 44px;
    left: 95px;
    top: 721px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}

.iz-pt {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 771px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

/* End Zakat Penghasilan*/

/* Zakat Perdagangan */
.lmodal {
    position: absolute;
    width: 500px;
    height: 44px;
    left: 95px;
    top: 47px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.imodal {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 97px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.luntung {
    position: absolute;
    width: 500px;
    height: 44px;
    left: 95px;
    top: 186px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.lpiutang {
    position: absolute;
    width: 350px;
    height: 44px;
    left: 95px;
    top: 320px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.ltempo {
    position: absolute;
    width: 350px;
    height: 44px;
    left: 95px;
    top: 459px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.lnishab {
    position: absolute;
    width: 350px;
    height: 44px;
    left: 95px;
    top: 588px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.lwajib {
    position: absolute;
    width: 410px;
    height: 44px;
    left: 95px;
    top: 721px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}

.ljumlah {
    position: absolute;
    width: 410px;
    height: 44px;
    left: 95px;
    top: 856px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}

.iuntung {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 236px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.imodal {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 97px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.iuntung {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 236px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.ipiutang {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 370px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.itempo {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 509px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.inishab {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 638px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.iwajib {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 771px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.ijumlah {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 906px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.red-tabung {
    color: #FC0202;
}

/* End Zakat Perdagangan */

/* Emas dan Perak */
.lnishab-emas {
    position: absolute;
    width: 350px;
    height: 44px;
    left: 95px;
    top: 320px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.lzakat-emas {
    position: absolute;
    width: 350px;
    height: 44px;
    left: 95px;
    top: 459px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}


.lwajib-emas {
    position: absolute;
    width: 410px;
    height: 44px;
    left: 95px;
    top: 597px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}


.iemas-e {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 392px;
    height: 31px;
    left: 94px;
    top: 224px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.iperak-e {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 392px;
    height: 44px;
    left: 94px;
    top: 353px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.inishab-e {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 509px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.inishab-p {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 638px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.iwajib-emas {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 661px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

/* End Emas dan Perak*/

/* Zakat Tabungan */
.lhasil {
    position: absolute;
    width: 190px;
    height: 44px;
    left: 94px;
    top: 174px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.ihasil {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 218px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lhalal {
    position: absolute;
    width: 530px;
    height: 31px;
    left: 90px;
    top: 254px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #FC0202;
}

.lharga {
    position: absolute;
    width: 300px;
    height: 44px;
    left: 94px;
    top: 308px;

    font-family: ''Roboto'';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.iharga {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 44px;
    left: 94px;
    top: 350px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lnishab_e {
    position: absolute;
    width: 638px;
    height: 44px;
    left: 94px;
    top: 451px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.inishab_e {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 44px;
    left: 94px;
    top: 500px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lwajib_t {
    position: absolute;
    width: 381px;
    height: 44px;
    left: 94px;
    top: 600px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #EFB520;
}

.iwajib_t {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 656px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.ljumlah_t {
    position: absolute;
    width: 308px;
    height: 44px;
    left: 94px;
    top: 745px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #EFB520;
}

.ijumlah_t {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 801px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

/* End Zakat Tabungan*/

/* Zakat Pertanian */
.lper{
	position: absolute;
    width: 500px;
    height: 44px;
    left: 95px;
    top: 47px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.iper{
	border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 97px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.lnisab-per{
	position: absolute;
    width: 700px;
    height: 44px;
    left: 95px;
    top: 186px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.inisab-per{
	border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 236px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.ljib-per{
	position: absolute;
    width: 700px;
    height: 44px;
    left: 95px;
    top: 328px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}

.ijib-per{
	border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 370px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}

.ljum-per {
    position: absolute;
    width: 400px;
    height: 44px;
    left: 95px;
    top: 459px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFA825;
}

.ijum-per {
    border: none;
    border-bottom: 1px solid;
    position: absolute;
    width: 393px;
    height: 31px;
    left: 94px;
    top: 509px;

    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.37);
}
/* End Zakat Pertanian */